<p><%= @game.player1_name %> vs. <%= @game.player2_name %></p>

<p><%= @game.current_player_name %>'s turn</p>

<p><%= @game.player1_name %>: <%= @game.player1_hitpoints %>HP</p>

<p><%= @game.player2_name %>: <%= @game.player2_hitpoints %>HP</p>

<%if @game.attacked? %>
  <%if @game.current_player == @game.player1%>
    <p><%= @game.player2_name %> attacked <%= @game.current_player_name %>!</p>
  <%else%>
    <p><%= @game.player1_name %> attacked <%= @game.current_player_name %>!</p>
  <%end%>
<% end %>

<form action='/attack' method='gets'>
  <input type='submit' value='Attack' />
</form>
