<p><%= @player1_name %> vs. <%= @player2_name %></p>

<p><%= @player2_name %>: <%= @player2_hitpoints %>HP</p>

<%if @attacked %>
<p><%= @player1_name %> attacked <%= @player2_name %>!</p>
<% end %>

<form action='/attack' method='gets'>
  <input type='submit' value='Attack' />
</form>
