<p><%= @game.player1_name %> vs. <%= @game.player2_name %></p>

<p><%= @game.current_player_name %>'s turn</p>

<p><%= @game.player2_name %>: <%= @game.player2_hitpoints %>HP</p>

<%if @game.attacked? %>
<p><%= @game.player1_name %> attacked <%= @game.player2_name %>!</p>
<% end %>

<form action='/attack' method='gets'>
  <input type='submit' value='Attack' />
</form>
