<%= @player1_name %> vs. <%= @player2_name %>

<%= @player2_name %>: 100HP

<%if @attacked %>
<%= @player1_name %> attacked <%= @player2_name %>!
<% end %>

<form action='/attack' method='gets'>
  <input type='submit' value='Attack' />
</form>
